<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="SLF4J" />
	</settings>
	<typeHandlers>
	</typeHandlers>
	<environments default="mtgdb">
		<environment id="mtgdb">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://${mtgdb.db.host}/mtgdb?serverTimezone=Europe/Paris" />
				<property name="username" value="${mtgdb.db.user}" />
				<property name="password" value="${mtgdb.db.pass}" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="2" />
				<property name="poolPingQuery" value="SELECT 1" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="tcg.db.dao.CardDao"/>
		<mapper class="tcg.db.dao.CardSearchDao"/>
		<mapper class="tcg.db.dao.CardValueDomainDao"/>
		<mapper class="tcg.db.dao.ImporterDao"/>
	</mappers>
</configuration>