
body > article.main.card {
	section.editions ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding: 3px;
			&:not(.active) a {
				color: lighten(@color1, 50%);
			}
		}
	}

	section.main {
		@media (min-width: @min-sm) {
			display: flex;
			justify-content: space-between;
			article.image {
				width: 25%;
				img {
					width: 100%;
				}
			}

			article.text {
				width: 60%
			}

			article.prices {
				width: 15%
			}
		}

		article.image section {
			text-align: center;
		}

		article.text {
			p.flavor {
				font-family: Serif;
				font-style: italic;
			}

			section.original {
				p {
					padding-left: 20px;
					margin: 0;
				}

				&:before {
					content: 'Original';
					transform: rotate(-90deg);
					display: inline-block;
					position: relative;
					transform-origin: bottom right;
					left: -30px;
					border-bottom: solid 1px lighten(@color3, 25%);
				}
			}
		}

		article.prices ul {
			padding: 0;
			margin: 0;
			li {
				display: flex;
				list-style: none;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: space-between;
				white-space: nowrap;
				list-style: none;
				img {
					margin-right: 5px;
				}
			}
		}
	}
}

