
body > article.main.card {
	section.main {
		@media (min-width: @min-sm) {
			display: flex;
			justify-content: space-between;
			article.image {
				width: 25%;
			}

			article.text {
				width: 50%;
				@media (min-width: @min-md) {
					width: 55%;
				}
			}

			article.prices {
				width: 25%;
				@media (min-width: @min-md) {
					width: 20%;
				}
			}
		}

		article.image section {
			text-align: center;
		}

		article.text {
			header span.cost {
				color: @color1;
			}

			& > section p:first-child {
				display: flex;
				justify-content: space-between;
				i.ss {
					font-size: 1.5em;
				}
			}

			p.flavor {
				font-family: Serif;
				font-style: italic;
			}
		}

		article.prices {
			ul {
				padding: 0;
				li {
					display: flex;
					list-style: none;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: space-between;
					white-space: nowrap;
					list-style: none;
					img {
						margin-right: 5px;
					}
				}
			}

			a.button {
				margin: 7px 7px;
				display: block;
				text-align: center;
			}
		}
	}

	@keyframes loader-span {
		0% {
			left: 0%;
		}

		100% {
			left: 85%;
		}
	}

	div.priceloading {
		width: 95%;
		background-color: @portlet-color;
		padding: 5px;
		margin: 7px auto;
		border-radius: 5px;
		span {
			width: 15%;
			height: 15px;
			display: block;
			background-color: #8bcc93;
			border-radius: 3px;
			position: relative;
			animation: loader-span 2s ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}
}

