@import "variables.less";
article .deck-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

article.deck-cube {
	section.cube {
		display: flex;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100 / 8%;
			li:not(.title) {
				height: 20px;
				overflow: hidden;
				position: relative;
				a {
					position: absolute;
					height: 20px;
					width: 100%;
					z-index: 2;
					i.fa {
						top: 3px;
						position: absolute;
						right: 4px;
						display: none;
						color: #FFF;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					}
				}

				img {
					width: 100%;
					z-index: 0;
					position: absolute;
				}

				&:last-child {
					overflow: visible;
					padding-bottom: 212px;
				}

				&.over {
					overflow: visible;
					i.fa {
						display: inline;
					}

					img {
						z-index: 1;
					}
				}

				&.title {
					text-align: center;
				}
			}
		}
	}
}

table.deck {
	tr {
		td {
			padding: 9px 2px;
			i.fa {
				color: #FFF;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
		}
	}
}

article.deck-price table.deck tr {
	@media (max-width: @max-sm) {
		th:nth-child(5) , td:nth-child(5) {
			display: none;
		}

		td:nth-child(6) span {
			display: none;
		}
	}
}

article.deck-table , article.deck-cube {
	table.deck {
		tr {
			td:nth-child(4) {
				&:not(:hover) > a {
					display: none;
				}
			}

			@media (max-width: @max-xs) {
				td:nth-child(1) > a {
					display: none;
				}

				td:nth-child(3) > span {
					display: none;
				}

				th:nth-child(3) {
					&:before {
						content: 'Tp';
					}

					& > span {
						display: none;
					}
				}

				th:nth-child(4) {
					&:before {
						content: 'Ed';
					}

					& > span {
						display: none;
					}
				}

				th:nth-child(6) {
					&:before {
						content: 'Mc';
					}

					& > span {
						display: none;
					}
				}

				td:nth-child(5) , th:nth-child(5) {
					display: none;
				}
			}
		}
	}
}

article.alter-deck-entry {
	a.button.grey:before {
		content: '\f00d';
		font-family: FontAwesome;
		margin-right: 5px;
		float: left;
		position: relative;
		bottom: 1px;
	}
}

article.deck-flat {
	overflow: hidden;
	section.deck-list {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			li {
				position: relative;
				display: inline-block;
				width: 75%;
				height: 365px;
				margin: 10% 0;
				@media (min-width: @min-sm) {
					width: calc(~"33.3333% - 50px");
					margin: 10px 50px 20px 0;
					height: 274px;
				}

				@media (min-width: @min-md) {
					width: calc(~"25% - 45px");
					margin: 10px 45px 19px 0;
					height: 272px;
				}

				@media (min-width: @min-lg) {
					width: calc(~"20% - 45px");
					margin: 10px 45px 18px 0;
					height: 260px;
				}

				& > a {
					position: absolute;
					z-index: 5;
					top: -2px;
					left: 2px;
					i.fa {
						color: #FFF;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					}
				}

				& > img {
					border-radius: 8px;
					width: 100%;
					position: absolute;
					z-index: 4;
					&:nth-of-type(2) {
						transform: rotate(5deg);
						transform-origin: bottom right;
						z-index: 3;
					}

					&:nth-of-type(3) {
						transform: rotate(10deg);
						transform-origin: bottom right;
						z-index: 2;
					}

					&:nth-of-type(4) {
						transform: rotate(15deg);
						transform-origin: bottom right;
						z-index: 1;
					}
				}
			}
		}
	}
}

