
@form-border-width : 3px;
@form-border-radius : 7px;
@form-padding : 5px 8px 2px;


input, button {
	line-height: 22px;
	padding: @form-padding;
	border-radius: @form-border-radius;
}


button, a.button, input[type=submit], input[type=button] {
	background-color: @blue;
	border: @form-border-width solid lighten(@blue, 25%);
	color: lighten(@blue, 25%);
	&.grey {
		background-color: @portlet-color;
		border: @form-border-width solid lighten(@portlet-color, 25%);
		color: lighten(@portlet-color, 25%);
	}
}

a.button {
	display: inline-block;
	padding: @form-padding;
	border-radius: @form-border-radius;
}

input[type=text] , input[type=password] , input[type=email] {
	background-color: lighten(@portlet-color-light, 25%);
	border: @form-border-width solid @portlet-color;
	&:focus {
		outline: none;
	}
}

.error {
	color: @red;
}

div.btn-select {
	display: inline-block;
	button {
		&:after {
			content: '\f0d7';
			font-family: FontAwesome;
			margin-left: 5px;
			float: right;
			position: relative;
			bottom: 2px;
		}
	}

	ul {
		position: absolute;
		background-color: @background-color;
		border: @form-border-width solid @portlet-color-light;
		border-radius: @form-border-radius;
		margin: 2px 0;
		padding: 0;
		list-style: none;
		display: none;
		li a {
			display: block;
			margin: 1px 3px;
			&:hover {
				color: @portlet-color-light;
				background-color: @portlet-color;
			}
		}
	}

	&.open ul {
		display: block;
	}
}

span.autocomplete {
	ul {
		display: none;
		flex-direction: column;
		position: absolute;
		background: @background-color;
		list-style: none;
		margin: 1px 0 0;
		z-index: 2;
		padding: 2px;
		align-items: stretch;
		li {
			padding: 0;
			margin: 0;
			display: flex;
			a {
				color: @text-color;
				padding: 4px;
				flex-grow: 1;
			}

			&:hover , &.select {
				background: @portlet-color;
				a {
					color: lighten(@portlet-color, 25%);
				}
			}
		}
	}

	&.open ul {
		display: flex;
		border-radius: @form-border-radius;
		border: solid @form-border-width @portlet-color;
	}
}

