body > header {
	color: @nav-bar-text-color;
	background-color: @nav-bar-background-color;
	nav {
		ul {
			display: flex;
			align-items: center;
			padding: 0;
			margin: 0;
			justify-content: space-between;
			li {
				list-style: none;
				padding: 5px;
					a {
						color: @nav-bar-text-color;
					}
			}
		}
		input {
			background-color : @nav-bar-text-color;
			color: @nav-bar-background-color;
		}
	}
}
