article.portlet {
	display: flex;
	flex-direction: column;
	margin: 0 5px 14px;
	min-width : 125px;
	& > header {
		color: lighten(@color3, 25%);
		padding: 8px 0;
		text-align: center;
		font: italic bold 1.5em Serif;
		background-color: @color3;
		border-bottom: 5px solid lighten(@color3, 25%);
		.mtgsymbol {
			line-height: 0.6em;
			&.cost {
				float: right;
				right: 5px;
				position: relative;
			}

			&.type {
				float: left;
				left: 5px;
				position: relative;
			}
		}
	}

	& > section {
		 & > p, & > ul {
			margin : 7px;
		}
		& > img {
			padding : 7px;
		}
	}

//	& > section, & > article {
//		margin : 0 -5px;
//		padding: 2px 5px;
//	}

	&.left {
		flex-direction : row;
		& > header {
			display : inline-block;
			border-bottom : none;
			padding: 5px 5px;
			border-left: 5px solid lighten(@color3, 25%);
			writing-mode: tb;
			transform: scale(-1);
		}
		& > section {
			display : inline-block;
		}
	}
}

