@import "variables.less";
@import "normalize-3.0.2.less";
@import "structure.less";

body {
	background-color: @color5;
}

header {
	background-color: @color1;
}


div.main {
	background-color : @color4;
}