@import "variables.less";
@import "normalize-3.0.2.less";
@import "fontawesome/font-awesome.less";
@import "magic-font.less";
@import "structure.less";
* {
	box-sizing: border-box;
}

body {
	color: @color1;
	background-color: @color5;
	font: 0.875em / 1.4em "Source Sans Pro", Helvetica, sans-serif;
}

a {
	color: @color1;
	text-decoration: none;
}

@import "portlet.less";
@import "header.less";
p > .mi {
	position: relative;
	top: 0.125em;
}

body > article.main {
	background-color: @color4;
	min-height: 250px;
	&.card {
		section.editions ul {
			display: flex;
			justify-content: center;
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				padding: 3px;
				&:not(.active) a {
					color: lighten(@color1, 50%);
				}
			}
		}

		section.main {
			@media (min-width: @min-sm) {
				display: flex;
				justify-content: space-between;
				article.text {
					flex-grow: 1;
				}
			}

		article.image {
			img {
				width : 100%;
			}
		}

			article.prices ul {
				padding: 0;
				margin: 0;
				li {
					display: flex;
					list-style: none;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: space-between;
					white-space: nowrap;
					list-style: none;
					img {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

span.autocomplete {
	ul {
		display: none;
		flex-direction: column;
		position: absolute;
		background: @color4;
		list-style: none;
		margin: 1px 0 0;
		z-index: 2;
		padding: 2px;
		border : solid 1px @color3;
		li {
			padding: 0;
			margin: 0;
			display: flex;
			a {
				padding: 4px;
				flex-grow: 1;
			}

			&:hover {
				background: @color3;
				a {
					color: lighten(@color3, 25%);
				}
			}
		}
	}

	&.open ul {
		display: flex;
	}
}

