
@max-xs: 767px;
@min-sm: 768px;
@min-md: 992px;
@min-lg: 1200px;



// https://coolors.co/020202-5d737e-fcfcfc-9da2ab-daddd8

@color1 : #020202;
@color2 : #5d737e;
@color3 : #fcfcfc;
@color4 : #9da2ab;
@color5 : #4464AD; // non utilisé

@red : #DB5461;
@blue : #4464AD;
@green : #1B998B;

@nav-bar-background-color : @color1;
@nav-bar-text-color : @color3;
@portlet-color : @color2;
@text-color : @color1;
@background-color : @color3;
@back-background-color: @color4;


