
@max-xs: 767px;
@min-sm: 768px;
@min-md: 992px;
@min-lg: 1200px;



// https://coolors.co/020202-0d324d-7f5a83-a188a6-9da2ab
// https://coolors.co/020202-f8f4e3-d4cdc3-d5d0cd-9da2ab
// https://coolors.co/020202-403f4c-2c2b3c-b76d68-9da2ab
// https://coolors.co/020202-3f4045-5d737e-fcfcfc-9da2ab
@color1 : #020202;
@color2 : #3f4045;
@color3 : #5d737e;
@color4 : #fcfcfc;
@color5 : #9da2ab;


